.main_page_feed_container{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 2rem;
    flex-wrap: wrap;
    //justify-content: space-around;
    padding: 2rem 0 0 0;
    overflow: auto;
    box-sizing: border-box;

    .feed_header{
        width: 100vw;
        margin-bottom: 1rem;
    }

    h2:first-of-type{
        margin-top: 1rem;
    }

    ///////////
    //////////
    /*
    .go_back_button_container{
        //width: 20rem;
        width: 90vw;
        margin: 0 auto;
    }
*/
////////
////////
/*
    .go_back_button_tablet_flex_parent, .go_back_button_tablet_flex_box{
        visibility: hidden;
    }

    .go_back_button_tablet_flex_sibling{
        display: none;
    }
*/
    .go_back_button_tablet_flex_parent{
        width: 100vw;
    }

    #go_back_button{
        width: 4rem;
        height: 3rem;
        padding: 0;
        border: none;
        background-color: white;
        //visibility: visible;
        //margin-left: -1.2rem;
        //background-color: white;
        //border: none;
        //border: 0.01rem solid #CBCBCB;
        margin-bottom: 0.5rem;

        img{
            margin-top: 0.3rem;
            width: 1.5rem;
            height: auto;
        }
    }

    @include tablet{
        //padding: 10rem 5vw 0 5vw;
        //justify-content: space-around;
        padding: 10rem 0 0 0;
        justify-content: space-evenly;

        .feed_header{
            margin-bottom: 2rem;
        }
    }
}

@include tablet{

    .main_page_feed_container{

        .go_back_button_tablet_flex_parent{
            visibility: visible;
            display: flex;
            justify-content: space-evenly;
            width: 100vw;
            margin: 0 auto;
        }

        #go_back_button{
            margin-left: 1rem;
        }

        .go_back_button_tablet_flex_box{
            visibility: visible;
            width: 25rem;
            margin-right: 4rem;
        }

        .go_back_button_tablet_flex_sibling{
            display: block;
            width: 40%;
        }
    }

    #search_result_feed_container{
        padding-top: 8rem;

        h2:first-of-type{
            margin-top: 0;
        }
    }
}