.post_card{
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 1rem 2rem 1rem;

    a{
        color: $complementary_color;
        padding-top: 0.25rem;
    }

    .searched_work_header{
        color: $main_text_color;
    }

    .work_link{
        color: $main_text_color;
    }

    h2{
        font-size: 1.25rem;
    }

    .art_frame{

            width: 20rem;
            height: 20rem;
            background-color: $art_card_color;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 1rem;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;

            img{
                -o-object-fit: contain;
                   object-fit: contain;
                max-width: 19rem;
                max-height: 19rem;
                border: 0;
            }

    }

    @include tablet{
        margin: 0 2rem 3rem 2rem;
    }
}