.profile_and_post_container{

    //width: 20rem;

    margin: 0 auto;
    padding-top: 4.5rem;
    //padding: 4.5rem 1.5rem 0 1.5rem;
    overflow: auto;
    box-sizing: border-box;
    //flex-wrap: wrap;


    #go_back_button{
        width: 4rem;
        height: 3rem;
        padding: 0;
        border: none;
        background-color: white;
        //margin-left: -1.2rem;
        //background-color: white;
        //border: none;
        //border: 0.01rem solid #CBCBCB;
        margin-bottom: 0.5rem;

        img{
            margin-top: 0.3rem;
            width: 1.5rem;
            height: auto;
        }
    }

    #solo_card{
        margin: 0 auto 2rem auto;
    }

    .art_frame{
        margin: 0 auto;
    }

    .profile_name_header{
        color: $complementary_color;
    }

    .description_text{
        text-align: left;
        width: 90vw;
        max-width: 30rem;
        margin: 0 auto;
    }

    .work_description{
        margin-top: 1.5rem;
    }
}

.creators_work_container{

    margin-top: 2.2rem;
    margin: 2.2rem auto 0 auto;

    h2{
        font-size: 1.25rem;
    }

    .creators_work_feed_container{
        width: 96vw;
        margin: 2rem auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        align-content: flex-start;
    }

    .work_feed_art_frame{
        background-color: $art_card_color;
        display: flex;
        justify-content: center;
        align-items: center;

        //padding-top: 0.6vw;
        //padding: 0.25rem;
        margin-bottom: 2vw;
        box-sizing: border-box;
        text-align: center;
        
        width: 30vw;
        height: 30vw;
        // margin-left: 2.5vw;
        // margin-right: 2.5vw;
        margin-left: 1vw;
        margin-right: 1vw;

        a{
            max-height: 28vw;
            max-width: 28vw;
        }
        
        img{
            object-fit: contain;
                //width: auto;
                //height: 100%;
                border: 0;
                margin: 0;

            max-height: 28vw;
            max-width: 28vw;
        }
    }
}

@include tablet{

    .profile_and_post_container{
        width: 100vw;
    }

    #work_card{
        display: flex;
        justify-content: space-evenly;
        margin-left: 0;
        margin-right: 0;
        margin-top: 3rem;
    }

    #work_page_art_frame{
        margin: 0;
        width: 25rem;
        height: 25rem;

        img{
            max-width: 24rem;
            max-height: 24rem;
        }
    }

    .tablet_flex_box{
        width: 17rem;
        
        .description_text{
            width: initial;
        }

        h2, p{
            text-align: left;
        }
    }
}